.info_cards_container {
    border: 1px solid gray;
    border-radius: 1%;
    background-color: white;
    width: fit-content;
    overflow: auto;
    max-height: 70%;
    margin: 12px auto;
    position: relative;
}

.info_cards_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.info_card_container {
    border: 1px solid lightgray;
    margin: 5px 5px;
    padding: 5px;
    height: fit-content;
    width: 300px;
}

.offer_description {
    margin-bottom: 3px;
}

.offer_address {
    color: gray;
}

.offer_price {
    padding-top: 8px;
}